{% extends "../layout.html" %}

{% block title %}
    RecipeLib - Admin: {{ recipe.title }}
{% endblock title %}

{% block body %}
    <main>
        <form action="{% url 'edit' recipe.id %}" method="POST" enctype="multipart/form-data">
            <div class="recipe-header-admin">
                <h2>Editando receita</h2>
                
                <div class="admin-buttons">
                    <input id="form-update" type="submit" data-recipe="{{ recipe.id }}" class="admin-button-1" value="Salvar receita">
                </div>
            </div>

            <div class="item">
                <h4>Imagens da receita</h4>
                <div class="image-box">
                    <div id="photos-upload">
                        <input 
                            id="photos-input"
                            type="file" 
                            name="photos" 
                            multiple
                            accept="image/*"
                            onchange="PhotosUpload.handleFileInput(event)"
                            style="display: none;"
                        >
                        <input 
                            type="button" 
                            class="photos-input" 
                            onclick="document.getElementById('photos-input').click()"
                        >
                        <i class="material-icons">add</i>
                    </div>
            
                    <div id="photos-preview">
                        {% if files %}
                            {% for file in files %}
                                {% if file.recipe == recipe %}
                                    <div class="photo" id="{{ file.id }}">
                                        <img src="{{ file.path }}" alt="{{ file.name }}">
                                        <i 
                                            class="material-icons"
                                            onclick="PhotosUpload.removeOldPhoto(event)"
                                            >close</i>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <input 
                                type="hidden" 
                                name="removed_files"
                            >
                        {% endif %}
                    </div> 
                </div>
            </div>
            
            <div class="item">
                <h4>Título</h4>
                <div>
                    <input
                        type="text"
                        name="title"
                        value="{{ recipe.title }}"
                        required
                    >
                </div>
            </div>
            
            <div class="item">
                <h4>Chef</h4>
                <div>
                    <input
                        type="text"
                        name="chef"
                        placeholder="Nome do criador"
                        value="{{ recipe.chef }}"
                        required
                    >
                </div>
            </div>
            
            <div class="item">
                <h4>Ingredientes</h4>
                <div id="ingredients">
                    <textarea 
                        name="ingredients"
                        class="information"
                        cols="10"
                        rows="2"
                        placeholder="Todos os ingredientes"
                        required
                    >{{ recipe.ingredients }}</textarea>
                </div>
            </div>
            
            <div class="item">
                <h4>Modo de preparo</h4>
                <div id="steps">
                    <textarea 
                        name="preparation"
                        class="information"
                        cols="10"
                        rows="2"
                        placeholder="Todos os passos"
                        required
                    >{{ recipe.preparation }}</textarea>
                </div>
            </div>
            
            <div class="item">
                <h4>Informações adicionais</h4>
                <div>
                    <textarea 
                        name="information"
                        class="information"
                        cols="40" 
                        rows="5"
                        required
                        >{{ recipe.information }}</textarea>
                </div>
            </div>

            <input 
                type="hidden" 
                name="id" 
                value="{{ recipe.id }}"
            >

        </form>
        
        <form action="{% url 'delete' recipe.id %}" method="POST">
            <button class="admin-button-2" type="submit">Deletar</button>
        </form>
    </main>
{% endblock body %}
